:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

a, Link {
  text-decoration: none;
  outline: none;
}

body {

  background-color: rgb(224, 14, 112);
}

h1,h2,h3,h4,h5,h6{
  text-decoration: none;
  outline: none;
}

body h1 { 
  color: white;
  padding: 0 0 0 2px;
}


