:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
}

body h1 { 
  color: rgb(224, 14, 112);
  padding: 0 0 0 2px;
}

header {

}

